body {
	background-color: #DDE9F1;

}


textarea {
	width: 700px;
	height: 90px;
	background-color: #fff;
	resize: none;
}
button{
	width: 100px;
	height: 35px;
	background-color: #bc1823;
	border-radius: 8px;
	border: 4px solid #EF3A5D;
	color: #fff;
	font-family: helvetica;
	font-weight: 400;
	cursor: pointer;
	margin-bottom: 60px;
}
.comment-box {
	width: 800px;
	padding:20px;
	margin-bottom: 4px;
	background-color: #fff;
	border-radius: 4px;
	position: relative;
	border: 4px solid #EF3A5D;
}

.comment-box p {
	font-family: helvetica;
	font-size: 16px;
	line-height: 16px;
	color: #282828;
	font-weight: 120;
}
.edit-form {
	position: absolute;
	top: 0px;
	right: 0px;
}

.edit-form button{
	width: 50px;
	height: 22px;
	color: #bc1823;
	background-color: #EF3A5D; 
	opacity: 0.7;
}

.edit-form button:hover {
	opacity: 1; 
}
.delete-form {
	position: absolute;
	top: 0px;
	right: 70px;
}

.delete-form button{
	width: 58px;
	height: 22px;
	color: #fff;
	background-color: #EF3A5D; 
	opacity: 0.7;
}

.delete-form button:hover {
	opacity: 1; 
}
.homepage-button {
	width: 270px;
	height: 45px;
	background-color: #bc1823;
	border-radius: 8px;
	border: 4px solid #EF3A5D;
	color: #fff;
	font-family: helvetica;
	font-weight: 400;
	cursor: pointer;
	margin-bottom: 60px;
	font-size: large;
}
.title-bar {
	height: 40px;
	width: 700px;
	background-color: #fff;
	resize: none;
}

.comment-form {
	position: absolute;
	top: 0px;
	right: 50px;
}

.comment-form button {
	width: 92px;
	height: 22px;
	color: #282828;
	background-color: #fff;
	opacity: 0.7;
}

.comment-form button:hover {
	opacity: 1;
}